<div class="container">
  <div class="form-inline float-right mt-10">
    <div class="form-group">
      <label>Search : </label>
      <input type="text"  class="form-control" [(ngModel)]="searchText">
    </div>
  </div>
  <table class="table table-bordered table-hover mt-10" *ngIf="lists">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="25%">Title</th>
        <th width="35%">Url</th>
        <th width="20%">Created At</th>
        <th width="20%">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lists | filter : searchText, let i = index" (click)="openModal(content, list)">
        <td>{{i + 1}}</td>
        <td>{{list.title}}</td>
        <td>{{list.url}}</td>
        <td>{{list.created_at}}</td>
        <td>{{list.author}}</td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="!lists" class="loader-body"><span class="spinner-border"></span></div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalData.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{modalData  | json}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

